// color scheme
$baseDark: #414042;
$base: #cccccc;
$baseLight: #f2f3f4;

$primary: #009999;
$primaryLight: #eef7f5;

$highlight: #FF8700;
$highlightLight: #FFB05B;

// fonts
$font: "TrubuchetMS", Sans-Serif;
$font-size: 12px;
$font-size-default: 1em;
$font-size-large: 1.231em;
$font-size-extralarge: 1.538em;
$font-size-small: .8em;
$font-size-double: 2em;
$fontMajor: "Warmonger BB", Sans-Serif;
$fontMajor-size: 1.5em; // 18pt

@mixin roundedCorners($upperLeft: 3px, $upperRight: 3px, $lowerRight: 3px, $lowerLeft: 3px){
	-webkit-border-radius: $upperLeft $upperRight $lowerRight $lowerLeft;
	-moz-border-radius: $upperLeft $upperRight $lowerRight $lowerLeft;
	border-radius: $upperLeft $upperRight $lowerRight $lowerLeft;
}

@mixin button($bgColor, $color: $baseDark){
	@include roundedCorners();
	background-color: $bgColor;
	border: 1px solid $base;
	color: $color;
	cursor: pointer;
	display: inline-block;
	font-family: $font;
	font-size: $font-size;
	padding: 5px 10px;
	text-align: center;
	&:hover, &:active{
		background-color: $base;
		color: $color;
		text-decoration: none;
		
	}
}

@mixin dropdown_menu($top: 24px, $width: 150px){
	ul{
		@include roundedCorners();
		background: #fff;
		border: 1px solid $base;
		display: none;
		position: absolute;
		text-align: left;
		top: $top;
		width: $width;
		z-index: 1;
		li{
			a, span{
				display: block;
				padding: 5px 2%;
				&:hover{
					background-color: $primaryLight;
				}
			}
		}
	}
}