* { margin-left: 0; margin-right: 0; margin-top: 0; padding: 0; }

html { color: #414042; font-family: "TrubuchetMS", Sans-Serif; font-size: 12px; }

body { background: #f2f3f4; margin-bottom: 20px; z-index: 0; }

.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

table { border-collapse: collapse; }

ul { list-style: none; }

a img { border: none; outline: 0; }

a { color: #009999; outline: 0; text-decoration: none; }

a:hover { color: #009999; text-decoration: none; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

button:focus { outline: none !important; }

input { -webkit-border-radius: 3px 3px 3px 3px; -moz-border-radius: 3px 3px 3px 3px; border-radius: 3px 3px 3px 3px; apperance: none; background: #f2f3f4; border: 1px solid #cccccc; outline: #FF8700; padding: 5px 10px; }

input[type=file] { margin-top: 5px; }

textarea { -webkit-border-radius: 3px 3px 3px 3px; -moz-border-radius: 3px 3px 3px 3px; border-radius: 3px 3px 3px 3px; background-color: #f2f3f4; border: 1px solid #cccccc; outline: #FF8700; }

pre { display: inline-block; }

.nicEdit-main { background-color: #f2f3f4; outline: #FF8700; }

.page { display: grid; grid-auto-rows: 10px; grid-gap: 10px; grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); padding: 20px 2%; }

.button-action { -webkit-border-radius: 3px 3px 3px 3px; -moz-border-radius: 3px 3px 3px 3px; border-radius: 3px 3px 3px 3px; background-color: #009999; border: 1px solid #cccccc; color: #fff; cursor: pointer; display: inline-block; font-family: "TrubuchetMS", Sans-Serif; font-size: 12px; padding: 5px 10px; text-align: center; border: 1px solid #009999; }
.button-action:hover, .button-action:active { background-color: #cccccc; color: #fff; text-decoration: none; }
.button-action:hover { background-color: #eef7f5; color: #414042; }

.button-neutral { -webkit-border-radius: 3px 3px 3px 3px; -moz-border-radius: 3px 3px 3px 3px; border-radius: 3px 3px 3px 3px; background-color: #f2f3f4; border: 1px solid #cccccc; color: #414042; cursor: pointer; display: inline-block; font-family: "TrubuchetMS", Sans-Serif; font-size: 12px; padding: 5px 10px; text-align: center; }
.button-neutral:hover, .button-neutral:active { background-color: #cccccc; color: #414042; text-decoration: none; }

.dropdown { -webkit-border-radius: 3px 3px 3px 3px; -moz-border-radius: 3px 3px 3px 3px; border-radius: 3px 3px 3px 3px; -webkit-border-radius: 3px 3px 3px 3px; -moz-border-radius: 3px 3px 3px 3px; border-radius: 3px 3px 3px 3px; background-color: #f2f3f4; border: 1px solid #cccccc; color: #414042; cursor: pointer; display: inline-block; font-family: "TrubuchetMS", Sans-Serif; font-size: 12px; padding: 5px 10px; text-align: center; background: #f2f3f4 url("../images/select_arrow.svg") no-repeat scroll right 10px top 9px/10px; padding: 5px 30px 5px 2%; position: relative; }
.dropdown ul { -webkit-border-radius: 3px 3px 3px 3px; -moz-border-radius: 3px 3px 3px 3px; border-radius: 3px 3px 3px 3px; background: #fff; border: 1px solid #cccccc; display: none; position: absolute; text-align: left; top: 24px; width: 150px; z-index: 1; }
.dropdown ul li a, .dropdown ul li span { display: block; padding: 5px 2%; }
.dropdown ul li a:hover, .dropdown ul li span:hover { background-color: #eef7f5; }
.dropdown:hover, .dropdown:active { background-color: #cccccc; color: #414042; text-decoration: none; }

.dropSearch { position: relative; display: inline-block; }
.dropSearch.show { display: block; }
.dropSearch .dropSearch-button { -webkit-border-radius: 3px 3px 3px 3px; -moz-border-radius: 3px 3px 3px 3px; border-radius: 3px 3px 3px 3px; background-color: #ffffff; border: 1px solid #cccccc; color: #414042; cursor: pointer; display: inline-block; font-family: "TrubuchetMS", Sans-Serif; font-size: 12px; padding: 5px 10px; text-align: center; background: #f2f3f4 url("../images/select_arrow.svg") no-repeat scroll right 10px top 10px/10px; padding: 5px 30px 5px 10px; text-align: left; width: 100%; }
.dropSearch .dropSearch-button:hover, .dropSearch .dropSearch-button:active { background-color: #cccccc; color: #414042; text-decoration: none; }
.dropSearch input { border: none; border-bottom: 1px solid #cccccc; box-sizing: border-box; padding: 5px 2%; width: 100% !important; }
.dropSearch input:focus { outline: 1px solid #FF8700; }
.dropSearch .dropSearch-content { background-color: #fff; border: 1px solid #cccccc; display: none; height: 200px; overflow: auto; position: absolute; width: 211px; z-index: 1; }
.dropSearch .dropSearch-content a, .dropSearch .dropSearch-content span { cursor: pointer; display: block; padding: 5px 2%; }
.dropSearch .dropSearch-content a:hover, .dropSearch .dropSearch-content span:hover { background-color: #eef7f5; }
.header { background: #fff; border-bottom: 1px solid #cccccc; padding: 10px 1% 5px 1%; position: relative; width: 98%; }
.header .menu { background: #f2f3f4; float: left; margin-right: 1%; padding: 5px 5px 0 5px; position: relative; }
.header .menu ul { -webkit-border-radius: 3px 3px 3px 3px; -moz-border-radius: 3px 3px 3px 3px; border-radius: 3px 3px 3px 3px; background: #fff; border: 1px solid #cccccc; display: none; position: absolute; text-align: left; top: 33px; width: 150px; z-index: 1; }
.header .menu ul li a, .header .menu ul li span { display: block; padding: 5px 2%; }
.header .menu ul li a:hover, .header .menu ul li span:hover { background-color: #eef7f5; }
.header .menu:hover { cursor: pointer; }
.header .menu img { height: 25px; width: 25px; }
.header .page-title { color: #009999; display: inline-block; font-size: 2em; margin-top: 5px; }
.header .g-signin2 { float: right; margin-left: 1%; }
.header .g-signin2 > a { display: inline-block; font-weight: bold; margin-top: 10px; }
.header .g-signin2 img { height: 25px; width: 25px; }
.header .g-signin2 ul { right: -1px; top: 35px; }
.header .g-signin2.dropdown { background: #f2f3f4 url("../images/select_arrow.svg") no-repeat scroll right 10px top 14px/10px; padding: 5px 30px 2px 5px; }
.header .font-warning { float: right; margin: 10px 2% 0 0; }
.footer { background-color: #fff; border-top: 1px solid #cccccc; bottom: 0; padding: 5px 2%; position: absolute; width: 96%; }
.footer .copyright { float: left; margin-top: 15px; }
.footer .auth0 { float: right; }
.footer .auth0 img { height: 40px; }
.login-box { -webkit-border-radius: 3px 3px 3px 3px; -moz-border-radius: 3px 3px 3px 3px; border-radius: 3px 3px 3px 3px; background: #fff; border: 1px solid #cccccc; margin: 0 auto; padding: 10px 2%; position: relative; text-align: center; top: 100px; width: 20%; }
.login-box img { display: block; margin: 0 auto; width: 200px; }
.login-box p { font-family: "Warmonger BB", Sans-Serif; font-size: 2em; padding-top: 10px; }
.login-box span { display: block; font-size: 0.8em; margin-top: 10px; }
.creation-section, .creation-section-powers { -webkit-border-radius: 3px 3px 3px 3px; -moz-border-radius: 3px 3px 3px 3px; border-radius: 3px 3px 3px 3px; background: #fff; border: 1px solid #cccccc; box-sizing: border-box; float: left; margin: 0 2% 10px 0; padding: 10px 2%; }
.creation-section .creation-section-title, .creation-section-powers .creation-section-title { color: #009999; font-size: 1.538em; margin-bottom: 10px; text-align: center; }
.creation-section button.dropdown, .creation-section-powers button.dropdown { margin: 0 0 10px 20%; }
.creation-section .creation-section-description, .creation-section-powers .creation-section-description { margin-bottom: 10px; text-align: center; }
.creation-section .creation-section-combo, .creation-section-powers .creation-section-combo { margin-bottom: 10px; }
.creation-section .creation-section-combo:last-child, .creation-section-powers .creation-section-combo:last-child { margin-bottom: 0; }
.creation-section .creation-section-combo label, .creation-section-powers .creation-section-combo label { display: inline-block; margin-bottom: 5px; min-width: 100px; width: 20%; }
.creation-section .creation-section-combo input, .creation-section-powers .creation-section-combo input { width: 60%; }
.creation-section .creation-section-combo input[maxlength="3"], .creation-section-powers .creation-section-combo input[maxlength="3"] { width: 30px; }
.creation-section .creation-section-combo textarea, .creation-section-powers .creation-section-combo textarea { vertical-align: middle; width: 66%; }
.creation-section .creation-section-combo .dropSearch, .creation-section-powers .creation-section-combo .dropSearch { width: 66%; }

.basics .new-series { -webkit-border-radius: 3px 3px 3px 3px; -moz-border-radius: 3px 3px 3px 3px; border-radius: 3px 3px 3px 3px; border: 1px solid #cccccc; display: none; margin: 0 2% 10px 17%; padding: 5px 2%; width: 76%; }
.basics .new-series label { width: 100%; }

.skills input[name="char-authorityOver"] { width: 87%; }

.power .creation-section-combo:last-child div { background: #f2f3f4; }
.power .creation-section-combo textarea { width: 98%; }

.sheetItem .sheet-item-possibility { display: none; }
.sheetItem .dropSearch, .sheetItem .dropdown { display: table; margin: 0 auto; }
.sheetItem .creation-section-description { margin-top: 10px; }
.sheetItem .new-pokemon { display: none; }
.sheetItem .new-pokemon button.dropdown { margin: 0; }
.sheetItem .new-pokemon #dropdown-pokemon-evolutionStage { display: inline-block; margin: 0; }
