.dashboard { padding: 20px 1%; width: 98%; }
.dashboard .dashboard-box { -webkit-border-radius: 3px 3px 3px 3px; -moz-border-radius: 3px 3px 3px 3px; border-radius: 3px 3px 3px 3px; background: #fff; border: 1px solid #cccccc; float: left; margin: 0 1% 20px 0; min-height: 200px; padding: 10px 1%; width: 21%; }
.dashboard .dashboard-box h2 { color: #009999; font-family: "Warmonger BB", Sans-Serif; font-size: 2em; font-weight: normal; text-align: center; }
.dashboard .dashboard-box .dashboard-box-description { display: block; margin-bottom: 10px; }
.dashboard .dashboard-greeting img { -webkit-border-radius: 3px 3px 3px 3px; -moz-border-radius: 3px 3px 3px 3px; border-radius: 3px 3px 3px 3px; border: 1px solid #cccccc; display: inline-block; height: 40px; }
.dashboard .dashboard-greeting .dashboard-greeting-userName { display: inline-block; font-family: "Warmonger BB", Sans-Serif; font-size: 2em; margin-left: 10px; position: relative; top: -10px; }
.dashboard .dashboard-greeting span { display: block; margin-top: 10px; }
