.header { background: #fff; border-bottom: 1px solid #cccccc; padding: 10px 1% 5px 1%; position: relative; width: 98%; }
.header .menu { background: #f2f3f4; float: left; margin-right: 1%; padding: 5px 5px 0 5px; position: relative; }
.header .menu ul { -webkit-border-radius: 3px 3px 3px 3px; -moz-border-radius: 3px 3px 3px 3px; border-radius: 3px 3px 3px 3px; background: #fff; border: 1px solid #cccccc; display: none; position: absolute; text-align: left; top: 33px; width: 150px; z-index: 1; }
.header .menu ul li a, .header .menu ul li span { display: block; padding: 5px 2%; }
.header .menu ul li a:hover, .header .menu ul li span:hover { background-color: #eef7f5; }
.header .menu:hover { cursor: pointer; }
.header .menu img { height: 25px; width: 25px; }
.header .page-title { color: #009999; display: inline-block; font-size: 2em; margin-top: 5px; }
.header .g-signin2 { float: right; margin-left: 1%; }
.header .g-signin2 > a { display: inline-block; font-weight: bold; margin-top: 10px; }
.header .g-signin2 img { height: 25px; width: 25px; }
.header .g-signin2 ul { right: -1px; top: 35px; }
.header .g-signin2.dropdown { background: #f2f3f4 url("../images/select_arrow.svg") no-repeat scroll right 10px top 14px/10px; padding: 5px 30px 2px 5px; }
.header .font-warning { float: right; margin: 10px 2% 0 0; }

.footer { background-color: #fff; border-top: 1px solid #cccccc; bottom: 0; padding: 5px 2%; position: absolute; width: 96%; }
.footer .copyright { float: left; margin-top: 15px; }
.footer .auth0 { float: right; }
.footer .auth0 img { height: 40px; }
