@import '_variablesMixins.scss';

.login-box{
	@include roundedCorners();
	background: #fff;
	border: 1px solid $base;
	margin: 0 auto;
	padding: 10px 2%;
	position: relative;
	text-align: center;
	top: 100px;
	width: 20%;
	img{
		display: block;
		margin: 0 auto;
		width: 200px;
	}
	p{
		font-family: $fontMajor;
		font-size: $font-size-double;
		padding-top: 10px;
	}
	span{
		display: block;
		font-size: $font-size-small;
		margin-top: 10px;
	}
}