.login-box { -webkit-border-radius: 3px 3px 3px 3px; -moz-border-radius: 3px 3px 3px 3px; border-radius: 3px 3px 3px 3px; background: #fff; border: 1px solid #cccccc; margin: 0 auto; padding: 10px 2%; position: relative; text-align: center; top: 100px; width: 20%; }
.login-box img { display: block; margin: 0 auto; width: 200px; }
.login-box p { font-family: "Warmonger BB", Sans-Serif; font-size: 2em; padding-top: 10px; }
.login-box span { display: block; font-size: 0.8em; margin-top: 10px; }
