@import '_variablesMixins.scss';

// generic sections of the input page
.creation-section, .creation-section-powers{
	@include roundedCorners();
	background: #fff;
	border: 1px solid $base;
	box-sizing: border-box;
	float: left;
	margin: 0 2% 10px 0;
	padding: 10px 2%;
	.creation-section-title{
		color: $primary;
		font-size: $font-size-extralarge;
		margin-bottom: 10px;
		text-align: center;
	}
	
	button.dropdown{
		margin: 0 0 10px 20%;
	}
	
	.creation-section-description{
		margin-bottom: 10px;
		text-align: center;
	}
	
	// each combined label + input of an creation-section
	.creation-section-combo{
		margin-bottom: 10px;
		&:last-child{
			margin-bottom: 0;
		}
		label{
			display: inline-block;
			margin-bottom: 5px;
			min-width: 100px;
			width: 20%;
		}
		input{
			width: 60%;
			// short inputs for just numbers
			&[maxlength="3"]{
				width: 30px;
			}
		}
		textarea{
			vertical-align: middle;
			width: 66%;
		}
		.dropSearch{
			width: 66%;
		}
	}
}

// specific section CSS
	.basics{
		// small hidden div for if a new series is chosen
		.new-series{
			@include roundedCorners();
			border: 1px solid $base;
			display: none;
			margin: 0 2% 10px 17%;
			padding: 5px 2%;
			width: 76%;
			label{
				width: 100%;
			}
		}
	}
	
	.skills{
		input[name="char-authorityOver"]{
			width: 87%;
		}
	}

	.power{
		.creation-section-combo{
			&:last-child div{
				background: $baseLight;
			}
			textarea{
				width: 98%;
			}
		}
	}

	.sheetItem{
		.sheet-item-possibility{
			display: none;
		}
		.dropSearch, .dropdown{
			display: table;
			margin: 0 auto;
		}
		.creation-section-description{
			margin-top: 10px;
		}
		.new-pokemon{
			display: none;
			button.dropdown{
				margin: 0;
			}
			#dropdown-pokemon-evolutionStage{
				display: inline-block;
				margin: 0;
			}
		}
	}