@import '_variablesMixins.scss';

// incredibly generic styles
	* {margin-left: 0; margin-right: 0; margin-top: 0; padding: 0;}
	html {color: $baseDark; font-family: $font; font-size: $font-size;}
	body {background: $baseLight; margin-bottom: 20px; z-index: 0;}
	.clearfix:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}
	table {border-collapse: collapse;}
	ul {list-style: none;}
	a img {border: none; outline: 0;}
	a {color: $primary; outline: 0; text-decoration: none;}
	a:hover {color: $primary; text-decoration: none;}
	button::-moz-focus-inner, input::-moz-focus-inner {border: 0; padding: 0;} // stops buttons being oddly sized in firefox
	button:focus {outline: none !important;}
	input {@include roundedCorners(); apperance: none; background: $baseLight; border: 1px solid $base; outline: $highlight; padding: 5px 10px;}
	input[type=file] {margin-top: 5px;}
	textarea{@include roundedCorners(); background-color: $baseLight; border: 1px solid $base; outline: $highlight;}
	pre {display: inline-block;}
	.nicEdit-main {background-color: $baseLight; outline: $highlight;}


// generic elements for the whole site
	.page{
		display: grid;
		grid-auto-rows: 10px;
		grid-gap: 10px;
		grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
		padding: 20px 2%;
	}

	// basic buttons
	.button-action{
		@include button($primary, #fff);
		border: 1px solid $primary;
		&:hover{
			background-color: $primaryLight;
			color: $baseDark;
		}
	}
	.button-neutral{
		@include button($baseLight);
	}

	// basic dropdown
	.dropdown{
		@include dropdown_menu();
		@include roundedCorners();
		@include button($baseLight);
		background: $baseLight url("../images/select_arrow.svg") no-repeat scroll right 10px top 9px / 10px;
		padding: 5px 30px 5px 2%;
		position: relative;
	}

	// dropdown + search "dropSearch"
	.dropSearch{
		position: relative;
		display: inline-block;
		&.show {
			display:block;
		}

		// dropSearch button
		.dropSearch-button {
			@include button(#ffffff, $baseDark);
			background: $baseLight url("../images/select_arrow.svg") no-repeat scroll right 10px top 10px / 10px;
			padding: 5px 30px 5px 10px;
			text-align: left;
			width: 100%;
		}

		// dropSearch input box
		input {
			border: none;
			border-bottom: 1px solid $base;
			box-sizing: border-box;
			padding: 5px 2%;
			width: 100% !important;
			&:focus {
				outline: 1px solid $highlight;
			}
		}

		// dropSearch list
		.dropSearch-content {
			background-color: #fff;
			border: 1px solid $base;
			display: none;
			height: 200px;
			overflow: auto;
			position: absolute;
			width: 211px;
			z-index: 1;
			a, span {
				cursor: pointer;
				display: block;
				padding: 5px 2%;
				&:hover {
					background-color: $primaryLight;
				}
			}
		}
	}