* { margin-left: 0; margin-right: 0; margin-top: 0; padding: 0; }

html { color: #414042; font-family: "TrubuchetMS", Sans-Serif; font-size: 12px; }

body { background: #f2f3f4; margin-bottom: 20px; z-index: 0; }

.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

table { border-collapse: collapse; }

ul { list-style: none; }

a img { border: none; outline: 0; }

a { color: #009999; outline: 0; text-decoration: none; }

a:hover { color: #009999; text-decoration: none; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

button:focus { outline: none !important; }

input { -webkit-border-radius: 3px 3px 3px 3px; -moz-border-radius: 3px 3px 3px 3px; border-radius: 3px 3px 3px 3px; apperance: none; background: #f2f3f4; border: 1px solid #cccccc; outline: #FF8700; padding: 5px 10px; }

input[type=file] { margin-top: 5px; }

textarea { -webkit-border-radius: 3px 3px 3px 3px; -moz-border-radius: 3px 3px 3px 3px; border-radius: 3px 3px 3px 3px; background-color: #f2f3f4; border: 1px solid #cccccc; outline: #FF8700; }

pre { display: inline-block; }

.nicEdit-main { background-color: #f2f3f4; outline: #FF8700; }

.page { display: grid; grid-auto-rows: 10px; grid-gap: 10px; grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); padding: 20px 2%; }

.button-action { -webkit-border-radius: 3px 3px 3px 3px; -moz-border-radius: 3px 3px 3px 3px; border-radius: 3px 3px 3px 3px; background-color: #009999; border: 1px solid #cccccc; color: #fff; cursor: pointer; display: inline-block; font-family: "TrubuchetMS", Sans-Serif; font-size: 12px; padding: 5px 10px; text-align: center; border: 1px solid #009999; }
.button-action:hover, .button-action:active { background-color: #cccccc; color: #fff; text-decoration: none; }
.button-action:hover { background-color: #eef7f5; color: #414042; }

.button-neutral { -webkit-border-radius: 3px 3px 3px 3px; -moz-border-radius: 3px 3px 3px 3px; border-radius: 3px 3px 3px 3px; background-color: #f2f3f4; border: 1px solid #cccccc; color: #414042; cursor: pointer; display: inline-block; font-family: "TrubuchetMS", Sans-Serif; font-size: 12px; padding: 5px 10px; text-align: center; }
.button-neutral:hover, .button-neutral:active { background-color: #cccccc; color: #414042; text-decoration: none; }

.dropdown { -webkit-border-radius: 3px 3px 3px 3px; -moz-border-radius: 3px 3px 3px 3px; border-radius: 3px 3px 3px 3px; -webkit-border-radius: 3px 3px 3px 3px; -moz-border-radius: 3px 3px 3px 3px; border-radius: 3px 3px 3px 3px; background-color: #f2f3f4; border: 1px solid #cccccc; color: #414042; cursor: pointer; display: inline-block; font-family: "TrubuchetMS", Sans-Serif; font-size: 12px; padding: 5px 10px; text-align: center; background: #f2f3f4 url("../images/select_arrow.svg") no-repeat scroll right 10px top 9px/10px; padding: 5px 30px 5px 2%; position: relative; }
.dropdown ul { -webkit-border-radius: 3px 3px 3px 3px; -moz-border-radius: 3px 3px 3px 3px; border-radius: 3px 3px 3px 3px; background: #fff; border: 1px solid #cccccc; display: none; position: absolute; text-align: left; top: 24px; width: 150px; z-index: 1; }
.dropdown ul li a, .dropdown ul li span { display: block; padding: 5px 2%; }
.dropdown ul li a:hover, .dropdown ul li span:hover { background-color: #eef7f5; }
.dropdown:hover, .dropdown:active { background-color: #cccccc; color: #414042; text-decoration: none; }

.dropSearch { position: relative; display: inline-block; }
.dropSearch.show { display: block; }
.dropSearch .dropSearch-button { -webkit-border-radius: 3px 3px 3px 3px; -moz-border-radius: 3px 3px 3px 3px; border-radius: 3px 3px 3px 3px; background-color: #ffffff; border: 1px solid #cccccc; color: #414042; cursor: pointer; display: inline-block; font-family: "TrubuchetMS", Sans-Serif; font-size: 12px; padding: 5px 10px; text-align: center; background: #f2f3f4 url("../images/select_arrow.svg") no-repeat scroll right 10px top 10px/10px; padding: 5px 30px 5px 10px; text-align: left; width: 100%; }
.dropSearch .dropSearch-button:hover, .dropSearch .dropSearch-button:active { background-color: #cccccc; color: #414042; text-decoration: none; }
.dropSearch input { border: none; border-bottom: 1px solid #cccccc; box-sizing: border-box; padding: 5px 2%; width: 100% !important; }
.dropSearch input:focus { outline: 1px solid #FF8700; }
.dropSearch .dropSearch-content { background-color: #fff; border: 1px solid #cccccc; display: none; height: 200px; overflow: auto; position: absolute; width: 211px; z-index: 1; }
.dropSearch .dropSearch-content a, .dropSearch .dropSearch-content span { cursor: pointer; display: block; padding: 5px 2%; }
.dropSearch .dropSearch-content a:hover, .dropSearch .dropSearch-content span:hover { background-color: #eef7f5; }
