{% block doc -%}
<!DOCTYPE html>
<html>
{%- block html %}
<head>
    {%- block head %}
    <title>{% block title %}NEXUS Database{% endblock title %}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    {%- block metas %}
    <meta charset="utf-8">
    {%- endblock metas %}

    {%- block styles %}
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='css/headerFooter.css') }}" rel="stylesheet" type="text/css"/>
    {%- endblock styles %}
    {% block scripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" type="application/javascript"></script>
    <script src="{{ url_for('static', filename='js/scripts.js') }}" type="application/javascript"></script>
    {%- endblock scripts %}
    {%- endblock head %}
</head>
<body>
{% block body -%}
{% block navbar %}
<div class="header clearfix">
    <div class="menu dropdown">
        <img src="{{ url_for('static', filename='Images/hamburger_menu.png') }}" alt="Menu"/>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="character-search">Character Search</a></li>
            <li><a href="sheet-creation">Sheet Creation</a></li>
            <li><a href="approvals">Approvals</a></li>
			<li><a href="fonts">Required Fonts</a></li>
        </ul>
    </div>
    <span class="page-title">NEXUS LARP Database</span>
    {% if userinfo != None %}
    <div class="g-signin2 dropdown">
        <img src="{{userinfo['picture']}}" alt="Logout"/>
        <ul>
            <li><span>{{userinfo['name']}}</span></li>
			<li><a href="/">Settings</a></li>
            <li><a href="/logout">Log Out</a></li>
        </ul>
    </div>
    {% else %}
    <div class="g-signin2">
        <a href="/login">Log In</a>
    </div>
    {% endif %}

    <!-- <a href="#" onclick="signOut();">Sign Out</a> -->
    <div class="font-warning">
        <a href="https://www.1001fonts.com/warmonger-bb-font.html" target="_blank">Warmonger Font Required</a>
    </div>
</div>
{%- endblock navbar %}
{% block content -%}
{%- endblock content %}

{% block footer %}
<div class="footer">
	<a class="auth0" href="https://auth0.com/?utm_source=oss&utm_medium=gp&utm_campaign=oss" target="_blank" alt="Single Sign On & Token Based Authentication - Auth0"><img alt="JWT Auth for open source projects" src="{{ url_for('static', filename='Images/a0-badge-dark.png') }}"/></a>
	<div class="copyright">Ⓒ 2019 Nexus System Group</div>
</div>

{%- endblock footer %}


{%- endblock body %}
</body>
{%- endblock html %}
</html>
{% endblock doc -%}