{% extends "base.html" %}
{% block title %}NEXUS Sheet Generator{% endblock title %}
{%- block styles %}
{{ super() }}
<link href="{{ url_for('static', filename='css/dashboard.css') }}" rel="stylesheet" type="text/css"/>
{%- endblock styles %}
{%- block scripts %}
{{ super () }}
{%- endblock scripts %}

{% block content %}
<div class="dashboard">
	<div class="dashboard-box dashboard-greeting">
		<img class="avatar" src="{{userinfo['picture']}}"/>
		<div class="dashboard-greeting-userName">Greetings, {{userinfo['name']}}!</div>
		<div class="dashboard-box-description">Welcome to the NEXUS Database website. From the menu in the upper left, you can search for characters, view and create sheets, or any number of other things important to running a LARP.</div>
	</div>
	
	<!-- character search -->
	<div class="dashboard-box dashboard-charSearch">
		<h2>Character Search</h2>
		<div class="character-search">
			<div class="dashboard-box-description">Search for a character, series, or tag.</div>
			<div class="dropSearch" name="character-search-name">
				<button class="dropSearch-button">Select Character</button>
				<div class="dropSearch-content">
					<input class="dropSearch-input" type="text" placeholder="Search..." onkeyup="filterFunction(this)">
					<span value="character1ID">Character 1</span>
					<span value="character2ID">Character 2</span>
					<span value="character3ID">Character 3</span>
					<span value="character4ID">Character 4</span>
					<span value="character5ID">Character 5</span>
					<span value="character6ID">Character 6</span>
					<span value="character7ID">Character 7</span>
					<span value="character8ID">Character 8</span>
					<span value="character9ID">Character 9</span>
				</div>
			</div>
			<div class="dropSearch" name="character-search-series">
				<button class="dropSearch-button">Select Series</button>
				<div class="dropSearch-content">
					<input class="dropSearch-input" type="text" placeholder="Search..." onkeyup="filterFunction(this)">
					<span value="series1ID">Series 1</span>
					<span value="series2ID">Series 2</span>
					<span value="series3ID">Series 3</span>
					<span value="series4ID">Series 4</span>
					<span value="series5ID">Series 5</span>
					<span value="series6ID">Series 6</span>
					<span value="series7ID">Series 7</span>
					<span value="series8ID">Series 8</span>
					<span value="series9ID">Series 9</span>
				</div>
			</div>
			<div class="dropSearch" name="character-search-tag">
				<button class="dropSearch-button">Select Tag</button>
				<div class="dropSearch-content">
					<input class="dropSearch-input" type="text" placeholder="Search..." onkeyup="filterFunction(this)">
					<span value="tag1ID">Tag 1</span>
					<span value="tag2ID">Tag 2</span>
					<span value="tag3ID">Tag 3</span>
					<span value="tag4ID">Tag 4</span>
					<span value="tag5ID">Tag 5</span>
					<span value="tag6ID">Tag 6</span>
					<span value="tag7ID">Tag 7</span>
					<span value="tag8ID">Tag 8</span>
					<span value="tag9ID">Tag 9</span>
				</div>
			</div>
		</div>
	</div>
	
	<!-- larp pre-regs -->
	<div class="dashboard-box dashboard-larpPreReg">
		<h2>Your Upcoming Pre-Regs</h2>
		<div class="dashboard-box-description">list of this user's upcoming pre-regged LARPs + character</div>
	</div>
	
	<!-- gm stuff -->
	<div class="dashboard-box dashboard-gm">
		<h2>GM Stuff</h2>
		<div class="dashboard-box-description">stuff for a GM to be able to quickly find (rule book, print whole character list, etc)</div>
	</div>
	
	<!-- larps -->
	<div class="dashboard-box dashboard-larps">
		<h2>NEXUS LARPs</h2>
		<div class="dashboard-box-description">list of all the larps</div>
	</div>
	
	<!-- pre-reg for larp -->
	<div class="dashboard-box dashboard-prereg">
		<h2>[LARP Name] Pre-Reg List</h2>
		<div class="dashboard-box-description">pre-reg list for a specific LARP</div>
	</div>
	
	<!-- approvals -->
	<div class="dashboard-box dashboard-approvals">
		<h2>Approvals</h2>
		<div class="dashboard-box-description">Approvals stuff</div>
	</div>
	
</div>
{% endblock content %}