<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>I SAID NOTHING BEATS ROCK</title>
</head>
<body>
<center>
    <h1>{{ error }}</h1>

<img src="{{ url_for('static', filename='Images/character_image_placeholder.png') }}">
    <br>
Maybe you had a better reason for being here. Keep trying. Things will look up.
</center>
</body>
</html>