{% block doc -%}
{% from template import charactersheetstats %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CharacterSheetList</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename=stylesheet) }}" >
</head>
<body>
{% for charsheet in selectedsheets %}
    {{ charactersheetstats(charsheet) }}
{% endfor %}
</body>
</html>
{% endblock doc -%}