{% extends "base.html" %}
{% block title %}NEXUS Sheet Generator{% endblock title %}
{%- block styles %}
{{ super() }}
<link href="{{ url_for('static', filename='css/loginLogout.css') }}" rel="stylesheet" type="text/css"/>
{%- endblock styles %}

{% block content %}
<div class="login-box auth0-box before">
	<a href="/login"><img src="../static/images/paw-print.png"></a>
    <p>Hey there! Why don't you try logging in?</p>
    <a class="button-action" href="/login">Log In</a>
	<span>(A pre-approved GMail account is required for access.)</span>
</div>
{% endblock content %}