{% macro charactersheetstats(sheet) -%}

<div class="main start">
  <div class="pageheader">
	<div class="titletext">
		Nexus System:Character
	</div>
	<div class= "charinfo">
		<div class="nametext header-text">Name: {{ sheet.name }}</div>
		<div class="seriestext header-text">Series: {{ sheet.series.name }} </div>
	</div>
  </div>
	<div class="leftcolumn">
		<div class="attributes spacer">
			<div class="divTableBody">
				<div class="header header-text"> Statistics</div>
				<div class="divTableRow">
					<div class="attribute-label attribute-row callout-text">Power</div>
					<div class="attribute-value attribute-row callout-text">{{sheet.stats.power}}</div>
				</div>
						<div class="divTableRow">
					<div class="attribute-label attribute-row callout-text">Athletics</div>
					<div class="attribute-value attribute-row callout-text">{{sheet.stats.athletics}}</div>
				</div>
						<div class="divTableRow">
					<div class="attribute-label attribute-row callout-text">Brains</div>
					<div class="attribute-value attribute-row callout-text">{{sheet.stats.brains}}</div>
				</div>
						<div class="divTableRow">
					<div class="attribute-label attribute-row callout-text">Confidence</div>
					<div class="attribute-value attribute-row callout-text">{{sheet.stats.confidence}}</div>
				</div>
						<div class="divTableRow">
					<div class="attribute-label attribute-row callout-text">Charisma</div>
					<div class="attribute-value attribute-row callout-text">{{sheet.stats.charisma}}</div>
				</div>
						<div class="divTableRow">
					<div class="attribute-label attribute-row callout-text">Affluence</div>
					<div class="attribute-value attribute-row callout-text">{{sheet.stats.affluence}}</div>
				</div>
			</div>
		</div>
		<div class="character-image bordered-image">
			<img src="{{sheet.pic_small}}"/>
		</div>
			<div class="BackgroundInfo spacer bordered-box descriptive-text">Background: {{sheet.background | safe}}</div>
		<div class="itemcard spacer bordered-box">
			<div class="itemcardname header-text">{{sheet.item_info()['Name']}}</div>
			<div class="itemcardtype header-text">{{sheet.item_info()['Type']}}</div>
			<div class="itemcardimage bordered-image itemcardbox" ><img src="{{sheet.item_info()['ImagePath']}}" /></div>
			<div class="itemcardtext descriptive-text itemcardbox" >{{ sheet.item_info()['Description'] | safe }}</div>
		</div>
	</div>

	<div class='rightcolumns'>
		<div class="standardskills">
		<div class="skilllheaderstandard callout-text">Standard Skills</div>
			<div class="skillbox">
				<div class="attribute-label attribute-row callout-text skilllabel skill-text">Acting</div>
				<div class="attribute-value attribute-row callout-text ">{{sheet.skills.acting}}</div>
			</div>
			<div class="skillbox">
				<div class="attribute-label attribute-row callout-text skilllabel skill-text">Hide Stuff</div>
				<div class="attribute-value attribute-row callout-text">{{sheet.skills.hideStuff}}</div>
			</div>
			<div class="skillbox">
				<div class="attribute-label attribute-row callout-text skilllabel skill-text">Computer Use</div>
				<div class="attribute-value attribute-row callout-text ">{{sheet.skills.computerUse}}</div>
			</div>
			<div class="skillbox">
				<div class="attribute-label attribute-row callout-text skilllabel skill-text">Disguise</div>
				<div class="attribute-value attribute-row callout-text">{{sheet.skills.disguise}}</div>
			</div>
			<div class="skillbox">
				<div class="attribute-label attribute-row callout-text skilllabel skill-text">Deception</div>
				<div class="attribute-value attribute-row callout-text ">{{sheet.skills.deception}}</div>
			</div>
			<div class="skillbox">
				<div class="attribute-label attribute-row callout-text skilllabel skill-text">Jump</div>
				<div class="attribute-value attribute-row callout-text">{{sheet.skills.jump}}</div>
			</div>
			<div class="skillbox">
				<div class="attribute-label attribute-row callout-text skilllabel skill-text">Influence</div>
				<div class="attribute-value attribute-row callout-text ">{{sheet.skills.influence}}</div>
			</div>
			<div class="skillbox">
				<div class="attribute-label attribute-row callout-text skilllabel skill-text">Mechanics</div>
				<div class="attribute-value attribute-row callout-text">{{sheet.skills.mechanics}}</div>
			</div>
			<div class="skillbox">
				<div class="attribute-label attribute-row callout-text skilllabel skill-text">Magic/Chi</div>
				<div class="attribute-value attribute-row callout-text ">{{sheet.skills.magicChi}}</div>
			</div>
			<div class="skillbox">
				<div class="attribute-label attribute-row callout-text skilllabel skill-text">Pilot Mecha</div>
				<div class="attribute-value attribute-row callout-text">{{sheet.skills.pilotMecha}}</div>
			</div>			<div class="skillbox">
				<div class="attribute-label attribute-row callout-text skilllabel skill-text">Medicine</div>
				<div class="attribute-value attribute-row callout-text ">{{sheet.skills.medicine}}</div>
			</div>
			<div class="skillbox">
				<div class="attribute-label attribute-row callout-text skilllabel skill-text">Run</div>
				<div class="attribute-value attribute-row callout-text">{{sheet.skills.run}}</div>
			</div>
			<div class="skillbox">
				<div class="attribute-label attribute-row callout-text skilllabel skill-text">Pilot Vehicle</div>
				<div class="attribute-value attribute-row callout-text ">{{sheet.skills.pilotVehicle}}</div>
			</div>
			<div class="skillbox">
				<div class="attribute-label attribute-row callout-text skilllabel skill-text">Search</div>
				<div class="attribute-value attribute-row callout-text">{{sheet.skills.search}}</div>
			</div>
			<div class="skillbox">
				<div class="attribute-label attribute-row callout-text skilllabel skill-text">Science</div>
				<div class="attribute-value attribute-row callout-text ">{{sheet.skills.science}}</div>
			</div>
			<div class="skillbox">
				<div class="attribute-label attribute-row callout-text skilllabel skill-text">Stealth</div>
				<div class="attribute-value attribute-row callout-text">{{sheet.skills.stealth}}</div>
			</div>
			<div class="skillbox">
				<div class="attribute-label attribute-row callout-text skilllabel skill-text">Yoink</div>
				<div class="attribute-value attribute-row callout-text ">{{sheet.skills.yoink}}</div>
			</div>
			<div class="skillbox">
				<div class="attribute-label attribute-row callout-text skilllabel skill-text">Throw</div>
				<div class="attribute-value attribute-row callout-text">{{sheet.skills.throw}}</div>
			</div>

		</div>
		<div class="combatskills">
		<div class="skillheadercombat callout-text">Combat Skills</div>
			<div class="combatskillbox">
				<div class="attribute-label attribute-row callout-text combatlable skill-text">Archery</div>
				<div class="attribute-value attribute-row callout-text">{{sheet.skills.archery}}</div>
			</div>
			<div class="combatskillbox">
				<div class="attribute-label attribute-row callout-text combatlable skill-text">BFG</div>
				<div class="attribute-value attribute-row callout-text">{{sheet.skills.bfg}}</div>
			</div>
			<div class="combatskillbox">
				<div class="attribute-label attribute-row callout-text combatlable skill-text">Blades</div>
				<div class="attribute-value attribute-row callout-text">{{sheet.skills.blades}}</div>
			</div>
			<div class="combatskillbox">
				<div class="attribute-label attribute-row callout-text combatlable skill-text">Blunt</div>
				<div class="attribute-value attribute-row callout-text">{{sheet.skills.blunt}}</div>
			</div>
			<div class="combatskillbox">
				<div class="attribute-label attribute-row callout-text combatlable skill-text">Dodge</div>
				<div class="attribute-value attribute-row callout-text">{{sheet.skills.dodge}}</div>
			</div>
			<div class="combatskillbox">
				<div class="attribute-label attribute-row callout-text combatlable skill-text">Hand To Hand</div>
				<div class="attribute-value attribute-row callout-text">{{sheet.skills.h2h}}</div>
			</div>
			<div class="combatskillbox">
				<div class="attribute-label attribute-row callout-text combatlable skill-text">Marskmanship</div>
				<div class="attribute-value attribute-row callout-text">{{sheet.skills.marksmanship}}</div>
			</div>
			<div class="combatskillbox">
				<div class="attribute-label attribute-row callout-text combatlable skill-text">Mecha Weapons</div>
				<div class="attribute-value attribute-row callout-text">{{sheet.skills.mechaWeapons}}</div>
			</div>
			<div class="combatskillbox">
				<div class="attribute-label attribute-row callout-text combatlable skill-text">Special Weapon</div>
				<div class="attribute-value attribute-row callout-text">{{sheet.skills.specialWeapons}}</div>
			</div>
		</div>
		<div class="attribute-label attribute-row callout-text combatlable skill-text authoritylabel spacer">Authority: {{sheet.skills.authorityOver}}</div>
		<div class="attribute-value attribute-row callout-text authorityvalue">{{sheet.skills.authority}}</div>
		<div class="vitalrow spacer"><div class="vitalslabel callout-text">Resilience:</div><div class="bodresvalue emoji">
            {% set number = sheet.stats.resilience | int %}
			{% for x in range(0,number) %}🔰{% endfor %}
        </div>	</div>
		<div class="vitalrow spacer"><div class="vitalslabel callout-text">Body:</div><div class="bodresvalue emoji">
            {% set number = sheet.stats.body | int %}
			{% for x in range(0,number) %}❤{% endfor %}
        </div></div>
		<div class="vitalrow spacer"><div class="vitalslabel callout-text energylabel">Energy:</div><div class="energyvalue emoji">
			{% set number = sheet.stats.energy | int %}
            {% for x in range(0,number) %}✨{% endfor %}
        </div></div>
		<div>
			<div class="startingitems">
				<div class="header-text">Starting Items</div>
				<div class="descriptive-text">
                    {{sheet.startingItems | safe}}
                </div>
			</div>
			<div class="portrait-image bordered-image"><img src="{{sheet.pic_large}}"/></div>
		</div>
  </div>
  </div>
  <div class="main start">
  <div class="pageheader">
		<div class="titletext">
			Character Special Skills
		</div>
	<div class= "charinfo">
		<div class="nametext header-text">Name: {{ sheet.name }}</div>
		<div class="seriestext header-text">Series: {{ sheet.series.name }} </div>
	</div>
	</div>
		<div class="descriptive-text">
            {% for ability in sheet.powers %}
		<strong>{{ability.powerName}}
			{% if ability.powerSkill != '' %}{{ability.powerSkill}} {% endif %}
			{%if ability.powerCost != '' %}({{ability.powerCost}}) {% endif %}</strong><br>
			{{ability.powerDescription | safe}}<br><br>
			{% endfor %}
		</div>
	</div>
{%- endmacro %}