{% extends "base.html" %}
{% block title %}NEXUS Sheet Generator{% endblock title %}
{%- block styles %}
{{ super() }}
<link href="{{ url_for('static', filename='css/sheetCreation.css') }}" rel="stylesheet" type="text/css"/>
{%- endblock styles %}
{%- block scripts %}
{{ super () }}

<script src="{{ url_for('static', filename='js/nicEdit.js') }}" type="application/javascript"></script>
{%- endblock scripts %}
{% block content %}
    <form action = "{{ url_for('generate_single_sheet')}}" method="post" target="_blank" id="sheet">
		<input name=_csrf_token type=hidden value="{{ csrf_token() }}">
		<button>yeet my shit to the server</button>
	<div class="page">
		<!-- basics -->
		<div class="creation-section basics">
			<div class="content">
				<div class="creation-section-title">Basics</div>
				<div class="creation-section-combo">
					<label>Character Name:</label>
					<input type="text" name="char-name">
				</div>
				<div class="creation-section-combo">
					<label>Series:</label>
					<div class="dropSearch">
						<button class="dropSearch-button">Select Character Series</button>
						<div id="dropdown-seriesChoice" class="dropSearch-content">
							<input class="dropSearch-input" type="text" placeholder="Search..." onkeyup="filterFunction(this)">
							<span value="newSeries">New Series!</span>
							<span value="series1ID">Series 1</span>
							<span value="series2ID">Series 2</span>
							<span value="series3ID">Series 3</span>
							<span value="series4ID">Series 4</span>
							<span value="series5ID">Series 5</span>
							<span value="series6ID">Series 6</span>
							<span value="series7ID">Series 7</span>
							<span value="series8ID">Series 8</span>
							<span value="series9ID">Series 9</span>
						</div>
					</div>
				</div>
				<div class="new-series clearfix">
					<div class="creation-section-combo">
						<label>New Series Name:</label>
						<input type="text" name="series-name">
					</div>
					<div class="creation-section-combo">
						<label>New Series Medium(s):</label>
						<div class="dropdown" name="series-medium">
							<span class="dropdown-initial">Select Medium(s)</span>
							<ul>
								<li><span value="anime">Anime</span></li>
								<li><span value="manga">Manga</span></li>
								<li><span value="videoGame">Video Game</span></li>
								<li><span value="webComic">Web Comic</span></li>
								<li><span value="sentai">Sentai</span></li>
								<li><span value="tv">TV</span></li>
								<li><span value="movie">Movie</span></li>
								<li><span value="other">Other</span></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="creation-section-combo">
					<label>Background:</label>
					<textarea rows="5" name="char-background" maxlength="200"></textarea>
				</div>
				<div class="creation-section-combo">
					<label>Character Picture (Small, 268x268px):</label>
					<input type="file" name="char-pic-small" accept="image/*">
				</div>
				<div class="creation-section-combo">
					<label>Character Picture (Large, 300x500px):</label>
					<input type="file" name="char-pic-large" accept="image/*">
				</div>
			</div>
		</div> <!-- /basics -->
		<!-- stats -->
		<div class="creation-section stats">
			<div class="content">
				<div class="creation-section-title">Stats</div>
				<div class="creation-section-combo">
					<label>Power:</label>
					<input type="text" name="char-power" maxlength="3">
				</div>
				<div class="creation-section-combo">
					<label>Athletics:</label>
					<input type="text" name="char-athletics" maxlength="3">
				</div>
				<div class="creation-section-combo">
					<label>Brains:</label>
					<input type="text" name="char-brains" maxlength="3">
				</div>
				<div class="creation-section-combo">
					<label>Confidence:</label>
					<input type="text" name="char-confidence" maxlength="3">
				</div>
				<div class="creation-section-combo">
					<label>Charisma:</label>
					<input type="text" name="char-charisma" maxlength="3">
				</div>
				<div class="creation-section-combo">
					<label>Affluence:</label>
					<input type="text" name="char-affluence" maxlength="3">
				</div>
			</div>
		</div> <!-- /stats -->
		<!-- skills -->
		<div class="creation-section skillsKnowledges">
			<div class="content">
				<div class="creation-section-title">Skills - Knowledges</div>
				<div class="creation-section-combo">
					<label>Acting:</label>
					<input type="text" name="char-acting" maxlength="3">
				</div>
				<div class="creation-section-combo">
					<label>Computer Use:</label>
					<input type="text" name="char-computerUse" maxlength="3">
				</div>
				<div class="creation-section-combo">
					<label>Magic/Chi:</label>
					<input type="text" name="char-magicChi" maxlength="3">
				</div>
				<div class="creation-section-combo">
					<label>Mechanics:</label>
					<input type="text" name="char-mechanics" maxlength="3">
				</div>
				<div class="creation-section-combo">
					<label>Medicine:</label>
					<input type="text" name="char-medicine" maxlength="3">
				</div>
				<div class="creation-section-combo">
					<label>Pilot Mecha:</label>
					<input type="text" name="char-pilotMecha" maxlength="3">
				</div>
				<div class="creation-section-combo">
					<label>Pilot Vehicle:</label>
					<input type="text" name="char-pilotVehicle" maxlength="3">
				</div>
				<div class="creation-section-combo">
					<label>Science:</label>
					<input type="text" name="char-science" maxlength="3">
				</div>
				<div class="creation-section-combo">
					<label>Authority:</label>
					<input type="text" name="char-authority" maxlength="3">
				</div>
				<div class="creation-section-combo">
					<label>Authority Over:</label>
					<input type="text" name="char-authorityOver" maxlength="20">
				</div>
			</div>
		</div>
		<div class="creation-section skillsActions">
			<div class="content">
				<div class="creation-section-title">Skills - Actions</div>
				<div class="creation-section-combo">
					<label>Deception:</label>
					<input type="text" name="char-deception" maxlength="3">
				</div>
				<div class="creation-section-combo">
					<label>Disguise:</label>
					<input type="text" name="char-disguise" maxlength="3">
				</div>
				<div class="creation-section-combo">
					<label>Hide Stuff:</label>
					<input type="text" name="char-hideStuff" maxlength="3">
				</div>
				<div class="creation-section-combo">
					<label>Influence:</label>
					<input type="text" name="char-influence" maxlength="3">
				</div>
				<div class="creation-section-combo">
					<label>Jump:</label>
					<input type="text" name="char-jump" maxlength="3">
				</div>
				<div class="creation-section-combo">
					<label>Run:</label>
					<input type="text" name="char-Run" maxlength="3">
				</div>
				<div class="creation-section-combo">
					<label>Search:</label>
					<input type="text" name="char-search" maxlength="3">
				</div>
				<div class="creation-section-combo">
					<label>Stealth:</label>
					<input type="text" name="char-stealth" maxlength="3">
				</div>
				<div class="creation-section-combo">
					<label>Yoink:</label>
					<input type="text" name="char-yoink" maxlength="3">
				</div>
			</div>
		</div> <!-- /skills -->
		<!-- res/body/energy -->
		<div class="creation-section rbe">
			<div class="content">
				<div class="creation-section-title">Resilience/Body/Energy</div>
				<div class="creation-section-combo">
					<label>Resilience:</label>
					<input type="text" name="char-resilience" maxlength="3">
				</div>
				<div class="creation-section-combo">
					<label>Body:</label>
					<input type="text" name="char-body" maxlength="3">
				</div>
				<div class="creation-section-combo">
					<label>Energy:</label>
					<input type="text" name="char-energy" maxlength="3">
				</div>
			</div>
		</div> <!-- /res/body/energy -->
		<!-- sheet item -->
		<div class="creation-section sheetItem">
			<div class="content">
				<div class="creation-section-title">Sheet Item</div>
				<div id="dropdown-sheetItemChoice" class="dropdown">
					<span class="dropdown-initial">Select Item Type</span>
					<ul>
						<li><span value="item">Item</span></li>
						<li><span value="mecha">Mecha</span></li>
						<li><span value="companion">Companion</span></li>
						<li><span value="pokemon">Pokemon</span></li>
					</ul>
				</div>
				<!-- sheet item - item -->
				<div class="sheet-item-possibility sheet-item-item">
					<div class="creation-section-description">Leave blank any attribute your sheet item does not have, but it requires at least a name, type, picture, and description.</div>
					<div class="creation-section-combo">
						<label>Sheet Item Name:</label>
						<input type="text" name="char-item-item-name">
					</div>
					<div class="creation-section-combo">
						<label>Item Type:</label>
						<input type="text" name="char-item-item-type">
					</div>
					<div class="creation-section-combo">
						<label>Picture:</label>
						<input type="file" name="char-item-item-picture"  accept="image/*">
					</div>
					<div class="creation-section-combo">
						<label>Description:</label>
						<textarea rows="5" name="char-item-item-description" maxlength="200"></textarea>
					</div>
					<div class="creation-section-combo">
						<label>Integrity:</label>
						<input type="text" name="char-item-item-integrity" maxlength="3">
					</div>
					<div class="creation-section-combo">
						<label>Hide Stuff:</label>
						<input type="text" name="char-item-item-HS" maxlength="3">
					</div>
					<div class="creation-section-combo">
						<label>Cost:</label>
						<input type="text" name="char-item-item-cost" maxlength="3">
					</div>
					<div class="creation-section-combo">
						<label>Uses (In OOO):</label>
						<input type="text" name="char-item-item-uses">
					</div>
				</div>
				<!-- sheet item - mecha -->
				<div class="sheet-item-possibility sheet-item-mecha">
					<div class="creation-section-description">Leave blank any attribute your mecha does not have, but it requires at least a name, picture, integrity, grade, energy, and abilities. <b>IMPORTANT:</b> If your mecha has more abilities than can fit into the abilities space, please put them as the last power on the character's sheet.</div>
					<div class="creation-section-combo">
						<label>Mecha Name:</label>
						<input type="text" name="char-item-mecha-name">
					</div>
					<div class="creation-section-combo">
						<label>Picture:</label>
						<input type="file" name="char-item-mecha-picture"  accept="image/*">
					</div>
					<div class="creation-section-combo">
						<label>Integrity:</label>
						<input type="text" name="char-item-mecha-integrity" maxlength="3">
					</div>
					<div class="creation-section-combo">
						<label>Energy:</label>
						<input type="text" name="char-item-mecha-energy" maxlength="3">
					</div>
					<div class="creation-section-combo">
						<label>Resilience:</label>
						<input type="text" name="char-item-mecha-resilience" maxlength="3">
					</div>
					<div class="creation-section-combo">
						<label>Grade:</label>
						<input type="text" name="char-item-mecha-grade" maxlength="3">
					</div>
					<div class="creation-section-combo">
						<label>Power:</label>
						<input type="text" name="char-item-mecha-power" maxlength="3">
					</div>
					<div class="creation-section-combo">
						<label>Athletics:</label>
						<input type="text" name="char-item-mecha-athletics" maxlength="3">
					</div>
					<div class="creation-section-combo">
						<label>Run:</label>
						<input type="text" name="char-item-mecha-run" maxlength="3">
					</div>
					<div class="creation-section-combo">
						<label>Fly:</label>
						<input type="text" name="char-item-mecha-fly" maxlength="3">
					</div>
					<div class="creation-section-combo">
						<label>Jump:</label>
						<input type="text" name="char-item-mecha-jump" maxlength="3">
					</div>
					<div class="creation-section-combo">
						<label>Hand to Hand:</label>
						<input type="text" name="char-item-mecha-h2h" maxlength="3">
					</div>
					<div class="creation-section-combo">
						<label>Dodge:</label>
						<input type="text" name="char-item-mecha-dodge" maxlength="3">
					</div>
					<div class="creation-section-combo">
						<label>Abilities:</label>
						<textarea rows="5" name="char-item-mecha-abilities" maxlength="200"></textarea>
					</div>
				</div>
				<!-- sheet item - companion -->
				<div class="sheet-item-possibility sheet-item-companion">
					<div class="creation-section-description">Leave blank any attribute your companion does not have, but it requires at least a name, picture, body, energy, and abilities. A description can be put into abilities, if necessary. <b>IMPORTANT:</b> If your companion has more abilities than can fit into the description/abilities space, please put them as the last power on the character's sheet.</div>
					<div class="creation-section-combo">
						<label>Companion Name:</label>
						<input type="text" name="char-item-companion-name">
					</div>
					<div class="creation-section-combo">
						<label>Picture:</label>
						<input type="file" name="char-item-companion-picture"  accept="image/*">
					</div>
					<div class="creation-section-combo">
						<label>Body:</label>
						<input type="text" name="char-item-companion-body" maxlength="3">
					</div>
					<div class="creation-section-combo">
						<label>Energy:</label>
						<input type="text" name="char-item-companion-energy" maxlength="3">
					</div>
					<div class="creation-section-combo">
						<label>Resilience:</label>
						<input type="text" name="char-item-companion-resilience" maxlength="3">
					</div>
					<div class="creation-section-combo">
						<label>Grade:</label>
						<input type="text" name="char-item-companion-grade" maxlength="3">
					</div>
					<div class="creation-section-combo">
						<label>Power:</label>
						<input type="text" name="char-item-companion-power" maxlength="3">
					</div>
					<div class="creation-section-combo">
						<label>Athletics:</label>
						<input type="text" name="char-item-companion-athletics" maxlength="3">
					</div>
					<div class="creation-section-combo">
						<label>Run:</label>
						<input type="text" name="char-item-companion-run" maxlength="3">
					</div>
					<div class="creation-section-combo">
						<label>Fly:</label>
						<input type="text" name="char-item-companion-fly" maxlength="3">
					</div>
					<div class="creation-section-combo">
						<label>Jump:</label>
						<input type="text" name="char-item-companion-jump" maxlength="3">
					</div>
					<div class="creation-section-combo">
						<label>Hand to Hand:</label>
						<input type="text" name="char-item-companion-h2h" maxlength="3">
					</div>
					<div class="creation-section-combo">
						<label>Dodge:</label>
						<input type="text" name="char-item-companion-dodge" maxlength="3">
					</div>
					<div class="creation-section-combo">
						<label>Abilities:</label>
						<textarea rows="5" name="char-item-companion-abilities"></textarea>
					</div>
				</div>
				<!-- sheet item - pokemon -->
				<div class="sheet-item-possibility sheet-item-pokemon">
					<div class="creation-section-description">Choose a pokemon already created in the system from the dropdown below to be connected to this character. Otherwise, choose 'New Pokemon' and follow the instructions to create one not already in the system.</div>
					<div id="dropdown-pokemonChoice" class="dropSearch">
						<button class="dropSearch-button">Select Pokemon</button>
						<div class="dropSearch-content">
							<input class="dropSearch-input" type="text" placeholder="Search..." onkeyup="filterFunction(this)">
							<span value="newPokemon">New Pokemon!</span>
							<span value="charmander">Chamander</span>
							<span value="charmeleon">Charmeleon</span>
							<span value="charizard">Charizard</span>
						</div>
					</div>
					<div class="new-pokemon">
						<div class="creation-section-description">Pokemon Creation Info Here</div>
						<div class="creation-section-combo">
							<label>Pokemon Name:</label>
							<input type="text" name="pokemon-name">
						</div>
						<div class="creation-section-combo">
							<label>Picture:</label>
							<input type="file" name="pokemon-picture"  accept="image/*">
						</div>
						<div class="creation-section-combo">
							<label>Pokemon Type:</label>
							<input type="text" name="pokemon-pkmntype">
						</div>
						<div class="creation-section-combo">
							<label>Evolution Stage:</label>
							<div id="dropdown-pokemon-evolutionStage" class="dropdown">
								<span class="dropdown-initial">Select Evolution Stage</span>
								<ul>
									<li><span value="preEvolution">Pre-Evolution (EX: Pichu)</span></li>
									<li><span value="firstStage">First Stage (EX: Caterpie)</span></li>
									<li><span value="secondStage">Second Stage (EX: Metapod)</span></li>
									<li><span value="thirdStage">Third Stage (EX: Butterfree)</span></li>
								</ul>
							</div>
						</div>
						<div class="creation-section-combo">
							<label>Body:</label>
							<input type="text" name="pokemon-body" maxlength="3">
						</div>
						<div class="creation-section-combo">
							<label>Energy:</label>
							<input type="text" name="pokemon-energy" maxlength="3">
						</div>
						<div class="creation-section-combo">
							<label>Resilience:</label>
							<input type="text" name="pokemon-resilience" maxlength="3">
						</div>
						<div class="creation-section-combo">
							<label>Grade:</label>
							<input type="text" name="pokemon-grade" maxlength="3">
						</div>
						<div class="creation-section-combo">
							<label>Power:</label>
							<input type="text" name="pokemon-power" maxlength="3">
						</div>
						<div class="creation-section-combo">
							<label>Athletics:</label>
							<input type="text" name="pokemon-athletics" maxlength="3">
						</div>
						<div class="creation-section-combo">
							<label>Run:</label>
							<input type="text" name="pokemon-run" maxlength="3">
						</div>
						<div class="creation-section-combo">
							<label>Fly:</label>
							<input type="text" name="pokemon-fly" maxlength="3">
						</div>
						<div class="creation-section-combo">
							<label>Jump:</label>
							<input type="text" name="pokemon-jump" maxlength="3">
						</div>
						<div class="creation-section-combo">
							<label>Hand to Hand:</label>
							<input type="text" name="pokemon-h2h" maxlength="3">
						</div>
						<div class="creation-section-combo">
							<label>Dodge:</label>
							<input type="text" name="pokemon-dodge" maxlength="3">
						</div>
						<div class="creation-section-combo">
							<label>Moves:</label>
							<textarea rows="5" name="pokemon-moves"></textarea>
						</div>
					</div>
				</div>
			</div>
		</div> <!-- /sheet item -->
		<!-- combat skils -->
		<div class="creation-section combat">
			<div class="content">
				<div class="creation-section-title">Skills - Combat</div>
				<div class="creation-section-combo">
					<label>Archery:</label>
					<input type="text" name="char-archery" maxlength="3">
				</div>
				<div class="creation-section-combo">
					<label>BFG:</label>
					<input type="text" name="char-bfg" maxlength="3">
				</div>
				<div class="creation-section-combo">
					<label>Blades:</label>
					<input type="text" name="char-blades" maxlength="3">
				</div>
				<div class="creation-section-combo">
					<label>Blunt:</label>
					<input type="text" name="char-blunt" maxlength="3">
				</div>
				<div class="creation-section-combo">
					<label>Dodge:</label>
					<input type="text" name="char-dodge" maxlength="3">
				</div>
				<div class="creation-section-combo">
					<label>Hand to Hand:</label>
					<input type="text" name="char-h2h" maxlength="3">
				</div><div class="creation-section-combo">
					<label>Marksmanship:</label>
					<input type="text" name="char-marksmanship" maxlength="3">
				</div>
				<div class="creation-section-combo">
					<label>Mecha Weapons:</label>
					<input type="text" name="char-mechaWeapons" maxlength="3">
				</div>
				<div class="creation-section-combo">
					<label>Special Weapons:</label>
					<input type="text" name="char-specialWeapons" maxlength="3">
				</div>
				<div class="creation-section-combo">
					<label>Throw:</label>
					<input type="text" name="char-throw" maxlength="3">
				</div>
			</div>
		</div> <!-- /combat -->
		<!-- starting items -->
		<div class="creation-section startingItems">
			<div class="content">
				<div class="creation-section-title">Starting Items</div>
				<div class="creation-section-combo">
					<label>Starting Items:</label>
					<textarea rows="5" name="char-startingItems" maxlength="200"></textarea>
				</div>
			</div>
		</div><!-- power -->
		<div class="creation-section power">
			<div class="content">
				<div class="creation-section-title">Power 1</div>
				<div class="creation-section-description">A name and description are required. Skill may be listed as a number or a stat/skill. Cost is a number, a number/per round, or 'Varies'. Available to use are <b>bold</b>, <i>italics</i>, and <u>underline</u> styles.</div>
				<div class="creation-section-combo">
					<label>Power Name:</label>
					<input type="text" name="char-power1Name">
				</div>
				<div class="creation-section-combo">
					<label>Skill:</label>
					<input type="text" name="char-power1Skill" maxlength="3">
				</div>
				<div class="creation-section-combo">
					<label>Cost:</label>
					<input type="text" name="char-power1Cost" maxlength="20">
				</div>
				<div class="creation-section-combo">
					<label>Description:</label>
					<textarea rows="10" name="char-power1Description" class="rte" maxlength="200"></textarea>
				</div>
			</div>
		</div><!-- power -->
		<div class="creation-section power">
			<div class="content">
				<div class="creation-section-title">Power 2</div>
				<div class="creation-section-description">A name and description are required. Skill may be listed as a number or a stat/skill. Cost is a number, a number/per round, or 'Varies'. Available to use are <b>bold</b>, <i>italics</i>, and <u>underline</u> styles.</div>
				<div class="creation-section-combo">
					<label>Power Name:</label>
					<input type="text" name="char-power2Name">
				</div>
				<div class="creation-section-combo">
					<label>Skill:</label>
					<input type="text" name="char-power2Skill" maxlength="3">
				</div>
				<div class="creation-section-combo">
					<label>Cost:</label>
					<input type="text" name="char-power2Cost" maxlength="20">
				</div>
				<div class="creation-section-combo">
					<label>Description:</label>
					<textarea rows="10" name="char-power2Description" class="rte" maxlength="200"></textarea>
				</div>
			</div>
		</div><!-- power -->
		<div class="creation-section power">
			<div class="content">
				<div class="creation-section-title">Power 3</div>
				<div class="creation-section-description">A name and description are required. Skill may be listed as a number or a stat/skill. Cost is a number, a number/per round, or 'Varies'. Available to use are <b>bold</b>, <i>italics</i>, and <u>underline</u> styles.</div>
				<div class="creation-section-combo">
					<label>Power Name:</label>
					<input type="text" name="char-power3Name">
				</div>
				<div class="creation-section-combo">
					<label>Skill:</label>
					<input type="text" name="char-power3Skill" maxlength="3">
				</div>
				<div class="creation-section-combo">
					<label>Cost:</label>
					<input type="text" name="char-power3Cost" maxlength="20">
				</div>
				<div class="creation-section-combo">
					<label>Description:</label>
					<textarea rows="10" name="char-power3Description" class="rte" maxlength="200"></textarea>
				</div>
			</div>
		</div><!-- power -->
		<div class="creation-section power">
			<div class="content">
				<div class="creation-section-title">Power 4</div>
				<div class="creation-section-description">A name and description are required. Skill may be listed as a number or a stat/skill. Cost is a number, a number/per round, or 'Varies'. Available to use are <b>bold</b>, <i>italics</i>, and <u>underline</u> styles.</div>
				<div class="creation-section-combo">
					<label>Power Name:</label>
					<input type="text" name="char-power4Name">
				</div>
				<div class="creation-section-combo">
					<label>Skill:</label>
					<input type="text" name="char-power4Skill" maxlength="3">
				</div>
				<div class="creation-section-combo">
					<label>Cost:</label>
					<input type="text" name="char-power4Cost" maxlength="20">
				</div>
				<div class="creation-section-combo">
					<label>Description:</label>
					<textarea rows="10" name="char-power4Description" class="rte" maxlength="200"></textarea>
				</div>
			</div>
		</div><!-- power -->
		<div class="creation-section power">
			<div class="content">
				<div class="creation-section-title">Power 5</div>
				<div class="creation-section-description">A name and description are required. Skill may be listed as a number or a stat/skill. Cost is a number, a number/per round, or 'Varies'. Available to use are <b>bold</b>, <i>italics</i>, and <u>underline</u> styles.</div>
				<div class="creation-section-combo">
					<label>Power Name:</label>
					<input type="text" name="char-power4Name">
				</div>
				<div class="creation-section-combo">
					<label>Skill:</label>
					<input type="text" name="char-power5Skill" maxlength="3">
				</div>
				<div class="creation-section-combo">
					<label>Cost:</label>
					<input type="text" name="char-power5Cost" maxlength="20">
				</div>
				<div class="creation-section-combo">
					<label>Description:</label>
					<textarea rows="10" name="char-power5Description" class="rte" maxlength="200"></textarea>
				</div>
			</div>
		</div><!-- power -->
		<div class="creation-section power">
			<div class="content">
				<div class="creation-section-title">Power 6</div>
				<div class="creation-section-description">A name and description are required. Skill may be listed as a number or a stat/skill. Cost is a number, a number/per round, or 'Varies'. Available to use are <b>bold</b>, <i>italics</i>, and <u>underline</u> styles.</div>
				<div class="creation-section-combo">
					<label>Power Name:</label>
					<input type="text" name="char-power6Name">
				</div>
				<div class="creation-section-combo">
					<label>Skill:</label>
					<input type="text" name="char-power6Skill" maxlength="3">
				</div>
				<div class="creation-section-combo">
					<label>Cost:</label>
					<input type="text" name="char-power6Cost" maxlength="20">
				</div>
				<div class="creation-section-combo">
					<label>Description:</label>
					<textarea rows="10" name="char-power6Description" class="rte" maxlength="200"></textarea>
				</div>
			</div>
		</div><!-- power -->
	</div> <!-- /stats page -->
</form>
<script type="text/javascript" src="{{url_for('static', filename='js/makeRTBoxes.js')}}"></script>
{% endblock content %}