{% block doc -%}

<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>MAke a sheet!</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script>

    $(document).ready(function(){
  $("button").click(function(){
    $.ajax({
        type: "Post",
        url: "/generate_sheets",
        data: "{{ sheetdata }}",
        processData: false,
    success: function(data,status){
            $('html').html(data);
            }});
  });
});</script>
</head>
<body>
<button>DO IT</button>

<form name="myform" method="post" action="/generate_sheets"
  target="_blank">
<input type="hidden" name="name1" value="value1">
<input type="hidden" name="name2" value="value2">

<input type="submit" value="Open results in a new window">
</form>
</body>
</html>
{% endblock %}